:root {
	--grey-50: #fafafa;
	--grey-100: #f5f5f5;
	--grey-200: #e5e5e5;
	--grey-300: #d4d4d4;
	--grey-400: #a3a3a3;
	--grey-500: #737373;
	--grey-600: #525252;
	--grey-700: #404040;
	--grey-800: #262626;
	--grey-900: #171717;

	--primary: #303f9f;
	--confirm: #00897b;
	--warning: #f79b19;
	--error: #c62828;
	--help: #673ab7;
}
